<%= render :partial => '/admin/merchandise/wizards/sub_header'%>
<% if  @tax_categories.empty? %>
  <h3>Nuevo estado de impuesto</h3>
<% else %>
  <h3>Seleccione una categoria de impuesto</h3>
<% end %>

<% @tax_categories.each do |tax_category| %>
<div class="row">
  <div class='two columns'>
    <label><%= tax_category.name %></label>
  </div>
  <div class="ten columns">  
    <%= button_to 'Usar', admin_merchandise_wizards_tax_category_path(tax_category),
                  :class => "small button inline left",
                  :method => :put %>
  </div>
</div>
<% end %>

<%= form_for @tax_category, :url => admin_merchandise_wizards_tax_categories_path do |tax_category_form| %>
  <%= render :partial =>  'form', :locals => {:f => tax_category_form}  %>
<% end %>
