<% if @order %>
  <h3>Cargamentos para Orden # <%= @order.number %></h3>
<% else %>
  <h3>Cargamentos</h3>
<% end %>

<table>
  <thead>
  <tr class='odd'>
    <th class='column1_header'>Numero</th>
    <th>Orden #</th>
    <th>Cargada en</th>
    <th>Seguimiento</th>
    <th>Estado</th>
    <th>Items</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @shipments.each do |shipment| %>
  <% if shipment.has_items? %>
      <tr class='<%= cycle("odd", "")%>'>
        <td><%= shipment.number %></td>
        <td><%= link_to shipment.order.number, edit_admin_fulfillment_order_path(shipment.order) %></td>
        <td><%= I18n.localize(shipment.shipped_at, :format => :us_time) if shipment.shipped_at %></td>
        <td><%= shipment.tracking %></td>
        <td><%= shipment.state %></td>
        <td>
          <%= raw shipment.order_items.collect {|item| item.variant.product_name }.join('<br/>')  %>

        </td>
        <td><%= link_to 'Mostrar', admin_fulfillment_shipment_path(shipment) %></td>
        <td><%= link_to 'Editar', edit_admin_fulfillment_shipment_path(shipment) %></td>
        <td>
          <% unless shipment.shipped? %>
            <%= button_to 'Marcar como enviado',
                          ship_admin_fulfillment_shipment_path(shipment, :order_id => shipment.order.number),
                          :confirm => "Esta seguro?",
                          :method => :put %>
          <% end %>
        </td>
      </tr>
  <% end %>
<% end %>
</table>