<% content_for :head do -%>
  <%= stylesheet_link_tag 'shopping_cart_page.css' %>
<% end %>
<div class="panel">
  <h5>Carrito </h5>
</div>
<div id='cart-items-wrapper' class='items-wrapper span-18 last'>
  <%= form_for session_cart, :url => shopping_cart_item_path(session_cart), :as => :cart do |cart_form| %>
    <% unless @cart_items.blank? %>
      <div class='row'>
         <div class="six columns">
          	<h5 class="inline left">Realizo algun cambio?</h5> 
            <%= cart_form.submit 'actualizar', :class => 'small radius button inline right' , :style => 'margin:8px 100px 0 0;'%>
         </div>
				<div class='six columns'>
						<div class="four columns centered">
        <%= cart_form.submit 'comprar', {:checkout => 1, :class => 'radius button'} %>
        </div>
      </div>
      </div>
      <div class="clear"></div>
      
    <% end %>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <% unless @cart_items.blank? %>
        <tr>
            <td>
                      <table width="100%" cellspacing="0" cellpadding="10">
                        <tbody>
                          <tr valign="top" bgcolor="#ebebe7" width="100%" >
                            <td bgcolor="#ebebe7" colspan="2"  >
                                <b>Articulos en el carrito - Para compra inmediata</b>
                            </td>
                            <td bgcolor="#ebebe7" class="small"><b>Precio:</b></td>

                            <td width="8%" bgcolor="#ebebe7" align="middle" class="small "><b>Cantidad</b></td>
                          </tr>
                          <%#= cart_form.fields_for :shopping_cart_items, @cart_items do |cart_items_form| %>
                          <% @cart_items.each_with_index do |item, i| %>
                            <%= cart_form.fields_for :shopping_cart_items, item do |cart_items_form| %>
                              <%= render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }%>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                      <h4>Si la compra es superior a $30.000 El envio es gratuito, de lo contrario, tiene un valor de $5.000 adicional a la compra</h4>
            </td>
          </tr>
          
          <% else %>
    		<h4>No hay articulos en el carrito.</h4>
        <% end %>

        <tr>
          <td align="center" colspan="1">

          </td>
        </tr>
        <% unless @saved_cart_items.empty? %>
          <tr>
            <td>
              <table width="100%" cellspacing="0" cellpadding="10">
                <tbody>
                  <tr valign="top" bgcolor="#eeeecc">
                      <td bgcolor="#eeeecc" colspan="2"><a name="savedforlater"><b>Articulos guardados - Para comprar despues</b></a></td>
                      <td bgcolor="#eeeecc" colspan="2" class="small"><b>Precio:</b></td>
                  </tr>

                  <%= render :partial => '/shopping/cart_items/saved_items' unless @saved_cart_items.empty? %>

                </tbody>
              </table>
            </td>
          </tr>
				<h4>Si la compra es superior a $30.000 El envio es gratuito, de lo contrario, tiene un valor de $5.000 adicional a la compra</h4>
        <% end %>

      </tbody>
    </table>
    
  <% end %>
</div>

<div class='span-6 last'>

  <div id='submit_purchase_cart' class="gradientbuttons redtheme purchase-cart">
    <ul>
      <li><%#= link_to 'Checkout', shopping_orders_path, :class => '' %>

      </li>
    </ul>
  </div>
</div>
