<h2 style="text-align:center">Bienvenido a la administracion de la tienda</h2>

<% if @password %>
  <p> Welcome, You are the Super Admin user. </p>
  <p>Your email and login is: <%= @user.email %> </p>
  <p>Your password is: <%= @password %> </p>
  <p>PLEASE WRITE THIS INFORMATION DOWN.</p>
<% end %>

<% if @no_roles %>
  <p>
    <b>You need to run rake db:seed</b>
  </p>
<% else %>
  <ol>
    <li>Para administrar usuarios vaya a <%= link_to 'Usuarios', admin_users_path, 'data-popup' => true %>.</li>
    <li>Vaya a <%= link_to 'Configuracion', admin_config_overviews_path, 'data-popup' => true %> y ajuste los parametros de impuestos y envios.</li>
    <li>Luego cree <%= link_to 'Propiedades', admin_merchandise_properties_path, 'data-popup' => true %>.  Una propiedad es una caracteristica que tienen los productos.</li>
    <li>Agregue un <%= link_to 'tipo de producto', admin_merchandise_product_types_path, 'data-popup' => true %> para categorizar los productos</li>
    <li>Luego cree un <%= link_to 'prototipo', admin_merchandise_prototypes_path, 'data-popup' => true %>. Un prototipo es la construccion total de un producto.  Los prototipos son usados para heredar los tipos de propiedades que sus productos van a tener.</li>
    <li>Para crear categorias de envio vaya a <%= link_to 'categorias de envio', admin_config_shipping_categories_path, 'data-popup' => true %>.</li>
    <li>Luego cree un <%= link_to 'Producto', admin_merchandise_products_path, 'data-popup' => true %></li>
    <li>Luego, cree una variante. Una variante es un tipo especifico de producto.  Si el producto es atornillador, un atornillador phillips puede ser la variante. para hacer esto haga clic en editar producto y luego clic en agregar variante.</li>
    <li>Luego, necesitara subir imagenes, para esto haga clic en editar producto y luego clic en agregar imagen.</li>
    <li>Necesitará <%= link_to 'Inventario', admin_inventory_overviews_path, 'data-popup' => true %>.  haga clic en orden de compra y siga los pasos para crear una, cuando esté completa, haga clic en recibir para agregar el inventario al stock.
    </li>
  </ol>
<% end %>