<%= render :partial => '/admin/merchandise/sub_header'%>

<h3> Editar Propiedad</h3>

<%= form_for(@product, :url => admin_merchandise_changes_product_property_path(@product.id)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class=" generic_submit_button">
    <%= f.submit "Actualizar",
                    :class  => "button",
                    :id     => "update_product_properties_button" %>
    <%= link_to "Volver al producto", admin_merchandise_product_path(@product), :class => 'button' %>
  </div>
<% end %>

