<p>
  <b>Porcentaje:</b>
  <%= @tax_rate.percentage %>
</p>

<p>
  <b>Tipo de producto:</b>
  <%= @tax_rate.tax_category.name %>
</p>

<p>
  <b>Estado:</b>
  <%= @tax_rate.state.name %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @tax_rate.start_date %>
</p>

<p>
  <b>Fecha fin:</b>
  <%= @tax_rate.end_date %>
</p>

<p>
  <b>Activa:</b>
  <%= @tax_rate.active %>
</p>


<%= link_to 'Editar', edit_admin_config_tax_rate_path(@tax_rate), :class => 'button' %>
<%= link_to 'Atras', admin_config_tax_rates_path, :class => 'button' %>

