<%= f.error_messages %>

<fieldset>
  <label>Cantidad de compra</label>
  <%= f.number_field :buy_quantity %>

  <label>Obtener porcentaje</label>
  <%= f.number_field :get_percentage %>

  <label>Tipo de oferta</label>
  <%= f.number_field :deal_type_id %>

  <label>Tipo de producto</label>
  <%= f.number_field :product_type_id %>

  <label>Obtener valor</label>
  <%= f.number_field :get_amount %>

  <label>Borrado en</label>
  <div class='date-select'>
    <%= f.datetime_select :deleted_at %>
  </div>
</fieldset>