<h3>Deal</h3>

<ul>
  <li>
    <label>Cantidad de compras:</label>
    <%= @deal.buy_quantity %>
  </li>
  <li>
    <label>Obtener porcentaje:</label>
    <%= @deal.get_percentage %>
  </li>
  <li>
    <label>Tipo de oferta:</label>
    <%= @deal.deal_type.name %>
  </li>
  <li>
    <label>Tipo de producto:</label>
    <%= @deal.product_type.name %>
  </li>
  <li>
    <label>Obtener valor:</label>
    <%= @deal.get_amount %>
  </li>
  <li>
    <label>Borrada en:</label>
    <%= @deal.deleted_at %>
  </li>
</ul>
<p>
  <%#  YOU SHOULD NOT EDIT THIS..  OLD ORDERS WILL NO LONGER CALCULATE CORRECTLY.  set Deleted_at and create a new promotion %>
  <%#= link_to "Edit", edit_admin_generic_deal_path(@deal), :class => 'button' %> |
  <%= link_to "Borrar", [:admin, :generic, @deal], :data => {:confirm => 'Esta seguro?'}, :method => :delete, :class => 'button' %> |
  <%= link_to "Ver todo", admin_generic_deals_path, :class => 'button' %>
</p>
