<div id="header">
  <div id="toolbar">
  	<div id="topleftlinks"> 
        <ul class="left_links">
          <li><%= link_to "Empresa",    empresa_path %></li>
          <li><%= link_to "Conozca Tramontina", '#' %></li>
          <li><%= link_to "Medio Ambiente", '#' %></li>
          <li><%= link_to "Contacto", '#' %></li>
        </ul>
    	<div id="logotram">
		<span >Distribuidor:</span>
		</div>
    </div>
    <div id="cartitems">
    	( <strong>0</strong> items )
    </div>
    <div id="cart">
    <%= link_to "Carrito", shopping_cart_items_path, :id => "menu-main-cart"  %>
    </div>
    <div id="logbtns">
    <ul class="left_links">
    	
    	<% unless current_user %>
             <li><%= link_to "Ingresar", login_path %></li>
             <li><%= link_to "Registrarse", signup_path %></li>
            <% else %>
              <li>Hola <%= current_user.first_name %> | <%= link_to 'Salir', logout_path %></li>
            <% end %>
         
    </ul>	
    </div>		
  </div>
  <!--nav content -->
  <div class="row">
  	<div id ="logo">
          <div>
            <%= image_tag('inox 100 x 40.jpg') %>
          </div>
        </div>
       
       
       
       
       
       
  <!--ojo con esto
  	
  	
  	<div id="navbar">
  <ul class="nav-bar">
  	<li ><%= link_to "Home",    root_path %>
  	<li class="has-flyout"><a href="/products">Productos</a>
  	<a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
    <% product_types.each do |pt_tab| %>
    <li ><%=link_to pt_tab.name %>
    <% pt_tab.children.each do |children| %>
		      <ul class="flyout">
						<li><%=link_to children.name, products_path(:product_type_id => children.id) %> </li>
		      </ul>
		<% end %>   	
    </li>
  	<% end %>
    </ul>
  	</li>
  	<li ><%= link_to "Mi Pedido", shopping_cart_items_path  %></li>
  	<% unless current_user %>
  	<li ><%= link_to "Registrarme", signup_path %></li>
  	 <% else %>
  	<li > <%= link_to_unless_current 'Mi Cuenta', myaccount_overview_path if most_likely_user %> </li>
  	<%end%>
  </ul>
  </div>




  	
  	
  	
  	
  	-->
  
  
  
       
       
       
       
       
       
       
       
       
       
       
       
       
  <div id="navbar">
    <nav class="top-bar">
      <ul class="left">
        <!-- Title Area -->
        <li ><%= link_to "Home",    root_path %></li>
      </ul>

      <section>
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a class="active" href="/products">Productos</a>
            <ul class="dropdown">
              <li><label>Section Name</label></li>
              <li class="has-dropdown">
                <a href="#" class="">Level 1, Has Dropdown</a>
                <ul class="dropdown">
                  <li><a href="#">Level 2</a></li>
                  <li><a href="#">Level 2</a></li>
                  <li class="has-dropdown"><a href="#">Level 2, Has Dropdown</a>
                    <ul class="dropdown">
                      <li><label>Section</label></li>
                      <li><a href="#">Level 3</a></li>
                      <li><a href="#">Level 3</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Level 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Level 2</a></li>
                  <li><a href="#">Level 2</a></li>
                </ul>
              </li>
              <li><a href="#">Level 1</a></li>
              <li><a href="#">Level 1</a></li>
              <li class="divider"></li>
              <li><label>Section Name</label></li>
              <li><a href="#">Level 1</a></li>
              <li><a href="#">Level 1</a></li>
              <li><a href="#">Level 1</a></li>
              <li class="divider"></li>
              <li><a href="#">See all &rarr;</a></li>
            </ul>
          </li>
          <li class="divider hide-for-small"></li>
        </ul>

				<ul  class="left">
        <!-- Title Area -->
        <li class="divider"></li>
       <li> <%= link_to "Mi Pedido", shopping_cart_items_path  %></li>
      </ul>
      <% unless current_user %>
      <ul class="left" >
        <!-- Title Area -->
        <li class="divider"></li>
        <li><%= link_to "Registrarme", signup_path %></li>
      </ul>
      <% else %>
      <ul class="left">
        <!-- Title Area -->
        <li class="divider"></li>
        </li><%= link_to_unless_current 'Mi Cuenta', myaccount_overview_path if most_likely_user %></li>
        
      </ul>
      <%end%>
      
        <!-- Right Nav Section -->

      </section>
    </nav>
  </div>
  </div>
  <!--end nav content -->
  <div class="row">
  <div id="featured">
  	<%= image_tag("slider1.jpg", :alt => "logotramontina") %>
  	<%= image_tag("slider2.jpg", :alt => "logotramontina") %>
  	<%= image_tag("slider3.jpg", :alt => "logotramontina") %>
  </div>
	</div>
</div>
