<div id="header">
  <div id="toolbar">
  	<div id="topleftlinks"> 
        <ul class="left_links">
          <li><%= link_to "Empresa",    empresa_path %></li>
          <li><%= link_to "Conozca Tramontina", conozca_tramontina_path %></li>
          <li><%= link_to "Videos y recetas", videos_y_recetas_path %></li>
          <li><%= link_to "Contacto", contacto_path %></li>
        </ul>
    	<div id="clickeable" onclick="window.open('http://tramontina.com','_newtab');" style="cursor: pointer">
		<span>Distribuidor</span>
		</div>
    </div>
    <div id="cartitems">
    	( <strong>0</strong> items )
    </div>
    <div id="cart">
    <%= link_to "Carrito", shopping_cart_items_path, :id => "menu-main-cart"  %>
    </div>
    <div id="logbtns">
    <ul class="left_links">
    	
    	<% unless current_user %>
             <li><%= link_to "Ingresar", login_path %></li>
             <li><%= link_to "Registrarse", signup_path %></li>
            <% else %>
              <li>Hola <%= current_user.first_name %> | <%= link_to 'Salir', logout_path %></li>
            <% end %>
         
    </ul>	
    </div>		
  </div>
  <!--nav content -->
  <div class="row">
  	<div id ="logo">
          <div>
            <%= image_tag('inox 100 x 40.png') %>
          </div>
        </div>
  <div id="navbar">
    <nav class="top-bar">
      <ul class="left">
        <!-- Title Area -->
        <li ><%= link_to "Home",    root_path %></li>
      </ul>

      <section>
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a class="active" href="/products">Productos</a>
            <ul class="dropdown">
              <% product_types.each do |pt_tab| %>
    <li class="has-dropdown"><%=link_to pt_tab.name, products_path(:product_type_id => pt_tab.id) %>
    <ul class="dropdown">
    <% pt_tab.children.each do |children| %>
		      						<li><%=link_to children.name, products_path(:product_type_id => children.id) %> </li>
		      
		<% end %>
		</ul>   	
    </li>
  	<% end %>
            </ul>
          </li>
          <li class="divider hide-for-small"></li>
        </ul>

				<ul>
        <!-- Title Area -->
        <li class="divider"></li>
       <li> <%= link_to "Mi Pedido", shopping_cart_items_path  %></li>
      </ul>
      <% unless current_user %>
      <ul>
        <!-- Title Area -->
        <li class="divider"></li>
        <li><%= link_to "Registrarme", signup_path %></li>
      </ul>
      <% else %>
      <ul>
        <!-- Title Area -->
        <li class="divider"></li>
        <li><%= link_to_unless_current 'Mi Cuenta', myaccount_overview_path if most_likely_user %></li>
        
      </ul>
      <%end%>
        <%= form_for search_product, :html => {:class => 'search'} do %>
 				    <ul class="right">
      		  <%= submit_tag 'Buscar', :class => 'small radius button inline right', :style => 'margin:14px 10px 0 0' %>
      		  </ul>
      		  <ul class="right">       
      		  <%= text_field_tag 'q', nil , :class => 'text inline left', :id => 'term', :style => 'margin: 12px 0 12px' %>
      		  </ul>
    		<% end %>
    					
          <!-- Right Nav Section -->
			
      </section>
    </nav>
  </div>
  </div>
  <!--end nav content -->
  <div class="row">
  <div id="featured">
  	<%= image_tag("slider1.jpg", :alt => "logotramontina") %>
  	<%= image_tag("slider2.jpg", :alt => "logotramontina") %>
  	<%= image_tag("slider3.jpg", :alt => "logotramontina") %>
  	<%= image_tag("slider4.jpg", :alt => "logotramontina") %>
  </div>
	</div>
</div>
