<%= render :partial => '/admin/merchandise/sub_header'%>

<h3>Agregar imagenes del producto</h3>

<%= form_for @product, :url  => admin_merchandise_images_product_path(@product), :multipart => true do |form| %>
  <%= render :partial => '/admin/merchandise/images/products/form', :locals => {:form => form} %>
  <%= submit_tag "Actualizar", :class  => "button" %>
<% end %>

<%= link_to 'Ver imagenes', admin_merchandise_images_product_path(@product), :class  => "button"%>
<%= link_to 'Detalles del producto', admin_merchandise_product_path(@product), :class  => "button" %>