<%= render :partial => '/admin/merchandise/sub_header'%>

<h3>Imagenes para '<%= @product.name %>'</h3>

<% @product.images.each do |image| %>
	<label><%= image.photo_file_name %></label>
  <%= image_tag image.photo.url(:small) %>
<% end %>

<p style="margin-top: 30px">
	<%= link_to 'Editar Imagenes', edit_admin_merchandise_images_product_path(@product), :class  => "button"%>
	<%= link_to 'Detalles del producto', admin_merchandise_product_path(@product), :class  => "button"%>
</p>