 
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@address.errors.count, "error") %> prohibited this shipping address from being saved:</h4>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :first_name, 'Nombre' %>
    <%= f.text_field :first_name, :class => 'span-3' %>
    <%= f.label :last_name, 'Apellido' %>
    <%= f.text_field :last_name, :class => 'span-3' %>
    <%= f.label :address1, 'Direccion' %>
    <%= f.text_field :address1 %><br/>
		<%= f.label :address2, 'Linea 2' %>
    <%= f.text_field :address2 %>
    <% if Settings.require_state_in_address %>
      <%= f.label    :state_id, "Departamento" %>
      <%= f.select   :state_id, @states,
                     :include_blank => true %>
    <% end %>
    <%= f.label :city, 'Ciudad' %>
    <%= f.text_field :city, :class => 'span-3' %>
    <% if nil %>
    	<%= f.label :state_name %>
      <%= f.text_field :state_name, :class => 'span-3' %>
    <% end %>
    <%= f.label :zip_code, 'Codigo Postal' %>
    <%= f.text_field :zip_code, :class => 'span-2' %>
    <!--<%#= f.input :phone %>-->
    <div class="one column">
    <%= f.check_box :default %>
    </div>
    <div class="eleven columns">
    <%= f.label :default, "Hacer de este el metodo de envio principal" %>
    </div>
    <%= f.submit :class => 'small button', :style => 'float:right; margin:10px 0 20px 0;' %>
  	</fieldset>
	
