<% content_for :head do -%>
  <%= stylesheet_link_tag 'home_page.css' %>
<% end %>

<div id='containerrightcont'>
	<div class="eleven columns centered">
	<div class="panel"><h5>Productos Destacados</h5></div>
	<ol id='interesting_items-list'>
  <% @featured_product.each do |pro, i| %>
       <li class='four columns' style="height: 200px; overflow: hidden;">
          <div class='interesting_items-image'>
            <%= link_to image_tag(pro.featured_image(:small)), product_path(pro), title: pro.name %>
          </div>
          <div class='interesting_items-details'><%= pro.name %><br/>
          	<div class='interesting_items-details-price'>
	           <%= number_to_currency pro.price_range.first %>
  	          <% if pro.price_range? %>
    	            to <%= number_to_currency pro.price_range.last %>
      	      <% end %>
      	      </div>
          </div>
        </li>
      <% end %>
      </ol>
      </div>
</div>

<div id="containerleftcont">
	<%= render 'shared/main_product_tabs' %>
	<div class="panel"><h5>Video</h5></div>
	<div class="flex-video widescreen vimeo">
  <iframe src="http://player.vimeo.com/video/31570696?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</div>
