
<h1> Ajuste de inventario <%= @variant.product_name %> </h1>

<%= form_for(@variant, :url => admin_inventory_adjustment_path(@variant)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class=" generic_submit_button">
    <%= f.submit "Update Inventory",
                    :class  => "button",
                    :id     => "adjust_inventory_button" %>
  </div>

<% end %>

<table>
  <thead>
    <tr>
      <th>SKU</th>
      <th>cuenta en mano</th>
      <th>Pendiente para el cliente</th>
      <th>Pendiente del proveedor</th>
      <th></th>
    </tr>
  </thead>
    <tr>
      <td><%= @variant.sku %></td>
      <td><%= @variant.inventory.count_on_hand %></td>
      <td><%= @variant.inventory.count_pending_to_customer %></td>
      <td><%= @variant.inventory.count_pending_from_supplier %></td>
    </tr>
</table>


<p>
  <%= link_to "Mostrar #{@variant.product_name}" , admin_inventory_adjustment_path( @variant.product ), :class => 'button' %> |
  <%= link_to 'Ver productos', admin_inventory_adjustments_path, :class => 'button' %>
</p>