<h3>Ajustes de inventario</h3>
<% content_for :sidemenu do %>

  <div class='admin_filters'>
    <%= form_tag admin_merchandise_products_path, :method => 'get', :id => "products_search" do %>
      <label>Nombre</label>
      <%= text_field_tag :name, params[:name] %>

      <label>Categoria</label>
      <%= select_tag "product_type_id", options_from_collection_for_select(product_types, "id", "name"), :include_blank => true %>

      <div style="text-align:center; margin-top: 15px">
        <%= submit_tag "Buscar", :name => nil, :class => 'button red-button' %>
      </div>
      </p>
      <div id="order_hidden">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      </div>
    <% end %>
    <div class='clearfix'></div>
  </div>
<% end %>
<div class="admin_adjustments">
  <table>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Nombre de producto</th>
    </tr>
    </thead>
    <% for product in @products %>
      <tr class='<%= cycle("odd", "")%>'>
        <td><%= link_to product.name, admin_inventory_adjustment_path(product) %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @products %>
</div>