<h3>Ajustes de inventario</h3>
<% content_for :sidemenu do %>

  <div class='admin_filters'>
    <%= form_tag admin_inventory_adjustments_path, :method => 'get', :id => "products_search" do %>
      <label>Nombre</label>
      <%= text_field_tag :name, params[:name] %>
      <label>SKU</label>
	  <%= text_field_tag :sku, params[:sku] %>
      <label>Categoria</label>
      <%= select_tag "product_type_id", options_from_collection_for_select(all_product_types, "id", "name"), :include_blank => true %>
	  <div style="text-align:center; margin-top: 15px">
        <%= submit_tag "Buscar", :name => nil, :class => 'button red-button' %>
      </div>
      </p>
      <div id="order_hidden">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      </div>
    <% end %>
    <div class='clearfix'></div>
  </div>
<% end %>
<div class="admin_adjustments">
  <table>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Nombre de producto</th>
      <th >Sku</th>
      <th >En Stock</th>
    </tr>
    </thead>
    <% for @product in @products %>
      <tr class='<%= cycle("odd", "")%>'>
        <td><%= link_to @product.name, admin_inventory_adjustment_path(@product) %></td>
        <% @product.variants.each do |variant| %>
          <td><%= variant.sku %></td>
      	  <td><%= link_to variant.inventory.count_on_hand, edit_admin_inventory_adjustment_path(variant) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @products %>
</div>