<%= render :partial => '/admin/merchandise/sub_header'%>

<h3>Nueva marca</h3>

<%= form_for(@brand, :url => admin_merchandise_brands_path(@brand)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit 'Crear', :class => 'button' %>
<% end %>

<p>
  <%= link_to 'Volver a la lista', admin_merchandise_brands_path, :class => 'button' %>
</p>