<%= render :partial => '/admin/merchandise/sub_header'%>

<h3>Marca - <%= @brand.name %></h3>

<p>
  <strong>Nombre:</strong>
  <%= @brand.name %>
</p>

<p>
  <%= link_to "Editar", edit_admin_merchandise_brand_path(@brand), :class => 'small button' %>
  <%= link_to "Borrar", admin_merchandise_brand_path(@brand), :data => {:confirm => 'Esta seguro?'}, :method => :delete, :class => 'small button' %>
  <%= link_to "Nueva marca", new_admin_merchandise_brand_path, :class => 'small button' %>
  <%= link_to "Ver todo", admin_merchandise_brands_path, :class => 'small button' %>
</p>
