<p>
  <b>Metodo de envio:</b>
  <%= @shipping_rate.shipping_method.name %>
</p>

<p>
  <b>Tarifa:</b>
  <%= @shipping_rate.rate %>
</p>

<p>
  <b>Cargo minimo:</b>
  <%= @shipping_rate.minimum_charge %>
</p>

<p>
  <b>Tipo de tarifa de envio:</b>
  <%= @shipping_rate.shipping_rate_type.name %>
</p>


<%= link_to 'Editar', edit_admin_config_shipping_rate_path(@shipping_rate), :class => 'button' %>
<%= link_to 'Atras', admin_config_shipping_rates_path, :class => 'button' %>

