<% if @coupon.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coupon.errors.count, "error") %> Problema al guardar el cupon:</h2>

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <label>Codigo</label>
  <%= f.text_field :code %>

  <% unless @coupon.id %>
    <label>Tipo</label>
    <%= f.select :type, @coupon_types, { :include_blank => true } %>
  <% end %>

  <label>Valor</label>
  <%= f.text_field :amount %>

  <label>Valor minimo</label>
  <%= f.text_field :minimum_value %>

  <label>Porcentaje</label>
  <%= f.text_field :percent %>

  <label>Descripcion</label>
  <%= f.text_area :description %>

  <label>Combinar</label>
  <%= f.check_box :combine %>

  <label>Comienza</label>
  <div class='date-select'>
    <%= f.date_select :starts_at %>
  </div>

  <label>Expira</label>
  <div class='date-select'>
    <%= f.date_select :expires_at %>
  </div>
</fieldset>

<%= f.submit "Crear", :class => "button" %>