
<h1> Cupon </h1>

<p>
  <strong>Codigo:</strong>
  <%= @coupon.code %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @coupon.amount %>
</p>

<p>
  <strong>Valor minimo:</strong>
  <%= @coupon.minimum_value %>
</p>

<p>
  <strong>Porcentaje:</strong>
  <%= @coupon.percent %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @coupon.description %>
</p>

<p>
  <strong>combinar:</strong>
  <%= @coupon.combine.to_s %>
</p>

<p>
  <strong>Comienza en:</strong>
  <%= @coupon.display_start_time %>
</p>

<p>
  <strong>Expira:</strong>
  <%= @coupon.display_expires_time %>
</p>

<p>
  <%= link_to "Editar", edit_admin_generic_coupon_path(@coupon), :class => 'button' %> |
  <%= link_to "Ver todo", admin_generic_coupons_path, :class => 'button' %>
</p>
