<%= form.fields_for :variants, Variant.new(:product_id => @product.id), :child_index => "new_variants" do |ff| %>
  <div id='variants_fields_template' style='display:none;'>
    <div class='span-6 three columns new_variant_container'  style='float: left;' >
      <table class='span-6 ar-sidebar' style='width:270px;' >
        <tr>
          <td></td>
          <td style='float:right;'> <%= link_to '', '#remove', :class => 'ss_sprite ss_cross remove_variant_child' %> </td>
        </tr>
        <tr>
          <td>SKU   </td><td> <%= ff.text_field :sku, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Precio </td><td> <%= ff.text_field :price, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Precio Anterior </td><td> <%= ff.text_field :cost, :class => 'span-3' %> </td>
        </tr><tr>	
          <td>Marca </td><td> <%= ff.select :brand_id, @brands, { :include_blank => false }, :class => 'span-3' %> </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>

<% @product.variants.each do |variant| %>
  <div class='span-6 column '  style='width:240px;'>
    <%= form.fields_for :variants, variant do |ff|%>
    <%#= form.fields_for :variants, Variant.new(:product_id => @product.id), :child_index => "new_variants" do |ff| %>
      <table class='span-6 ar-sidebar' style='width:240px;'>
        <thead>
          <tr>
            <th colspan=2> <%= variant.sku %>  </th>
          </tr>
        </thead>
        <tr>
          <td>SKU   </td><td> <%= ff.text_field :sku, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Precio </td><td> <%= ff.text_field :price, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Precio Anterior  </td><td> <%= ff.text_field :cost, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Marca </td><td> <%= ff.select :brand_id, @brands, { :include_blank => true }, :class => 'span-3' %> </td>
        </tr>
        <tr>
          <td></td><td> <%= link_to "borrar", admin_merchandise_product_variant_path(@product.id,variant.id), confirm: 'Esta seguro?', method: :delete %> </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>