<%= render :partial => '/admin/merchandise/sub_header'%>

<h3> <%= @product.name %> </h3>

<%= form_for @product, :url  => admin_merchandise_multi_product_variant_path(@product),
                        :html => {:class => ''}  do |form| %>
  <div id='variants_container' >
    <%= render :partial => '/admin/merchandise/multi/variants/form', :locals => {:form => form}%>
  </div>
  <div class='clearfix'></div>
  <div class=" generic_submit_button">
    <%= link_to("Nueva variante", "javascript:void(0);", :class => "add_variant_child button", "data-association" => :variants) %>
    <%= submit_tag "Actualizar",
                    :class  => "button",
                    :id     => "update_product_button" %>
    <%= link_to 'Volver al producto',     admin_merchandise_product_path(@product), :class => 'button' %>
  </div>

<% end %>

<% content_for :bottom do -%>
  <%= javascript_include_tag 'admin/edit_variants' %>
<% end %>