<%= render :partial => '/admin/merchandise/wizards/sub_header'%>
<% if  @brands.empty? %>
  <h3>Nueva Marca</h3>
<% else %>
  <h3>Seleccione una marca</h3>
<% end %>

<div id='shopping_addresses_selections' class='span-18 last'>
  <% @brands.each do |brand| %>
  <div class="row">
    <div class='two columns'>
      <label><%= brand.name %></label>
    </div>
    <div class='ten columns'>
   		<%= button_to 'Usar', admin_merchandise_wizards_brand_path(brand), :class => "small button inline left", :method => :put %>
   	</div>
  </div>  
  <% end %>
</div>

<hr/>

<% unless  @brands.empty? %>
  <h3>Crear una nueva marca</h3>
<% end %>
<%= form_for @brand, :url => admin_merchandise_wizards_brands_path do |brand_form| %>
  <%= render :partial =>  'form', :locals => {:f => brand_form}  %>
<% end %>