<% content_for :head do -%>
  <%= stylesheet_link_tag 'tables.css' %>
<% end %>
<div id='order-wrapper' class='span-24'>
  <div class='span-14'>
    <div class="panel"><h5>Resumen de la orden </h5></div>
    <div class="row">
    <div class='six columns'style="border-style: dotted; border-color:#CCCCCC;">
      <h5>Direccion de envio</h5>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
      <%= link_to 'Cambiar direccion', shopping_addresses_path, :class => 'radius button ', :style => 'float:right; margin:10px 0 10px 20px;' %>
    </div>
    <div class='six columns'>
      <h5>Direccion de facturacion</h5>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} %>
    </div>
    </div>
  </div>
  <div class='pretty_table span-10 last'>
    <table>
      <thead>
        <tr class='odd'>
          <th class='column1_header'>
            Articulo <span class='ss_sprite ss_application_cascade'></span>

          </th><th>Precio</th><th>Precio + IVA</th>
        </tr>
      </thead>
      <% @order.order_items.each do |item| %>
        <tr class='<%= cycle("odd", "")%> '>
          <td><%= item.variant.product.name %></td><td><%= number_to_currency(item.price, :precision => 0, :separator => ".") %></td><td><%= number_to_currency(item.total, :precision => 0, :separator => ".") %></td>
        </tr>
      <% end %>
      <tr class='odd'>
        <td></td><td>Sub-total:</td><td><%= number_to_currency(@order.sub_total, :precision => 0, :separator => ".") %></td>
      </tr>
      <tr>
        <td></td><td>Costos de envio:</td><td><%= number_to_currency(@order.shipping_charges, :precision => 0, :separator => ".") %></td>
      </tr>
      <% if @order.coupon_amount > 0.0 %>
        <tr>
          <td></td><td>Coupon:</td><td><%= number_to_currency @order.coupon_amount %></td>
        </tr>
      <% end %>
      <% if @order.deal_amount && @order.deal_amount > 0.0 %>
        <tr>
          <td></td><td>Promotion:</td><td><%= number_to_currency @order.deal_amount %></td><td></td>
        </tr>
      <% end %>
      <tfoot>
        <tr class='even'>
          <td></td><td>Total:</td><td><em><%= number_to_currency(@order.total, :precision => 0, :separator => ".") %></em></td>
        </tr>
      </tfoot>
    </table>
    <div>
  </div>
<%= form_tag('https://gateway.pagosonline.net/apps/gateway/index.html')  do %>
<%= hidden_field_tag 'usuarioId', POLID.to_s %>
<%= hidden_field_tag 'descripcion',  @order.order_items.first.variant.product.name %>
<%= hidden_field_tag 'extra1', ''%>
<%= hidden_field_tag 'valor', @order.total %>
<%= hidden_field_tag 'baseDevolucionIva', @order.get_base_iva %>
<%= hidden_field_tag 'refVenta', @order.get_refventa %>
<%= hidden_field_tag 'iva', @order.get_iva %>
<%= hidden_field_tag 'firma', @order.get_cadena %>
<%= hidden_field_tag 'emailComprador', ''%>
<%= hidden_field_tag 'url_respuesta', 'http://inoxdobrasil.com.co/respuestapol'%>
<%= image_submit_tag("logopol.png", :style => "float: right; margin-right: 25px; margin-bottom: 20px;")  %>
<% end %>
  </div>
</div>
<div><%= image_tag('footer formas de pago-01.jpg') %></div>
