<% content_for :head do -%>
  <%= stylesheet_link_tag 'tables.css' %>
<% end %>
<div id='order-wrapper' class='span-24'>
  <div class='span-14'>
  	
    <div class="panel"><h5>Resumen de la orden</h5></div>

 <!--   <div id='order-items-summary'>
      <% i = 1 %>
      <% @order.order_items.group_by(&:variant_id).each do |variant_id, items| %>
        <div id='order-item-<%= i %>'>
          <%= render :partial => 'order_item', :locals => {:items => items } %>
        </div>
        <% i += 1 %>
      <% end %>
 </div>-->
    <div class="row">
    <div class='six columns'style="border-style: dotted; border-color:#CCCCCC;">
      <h5>Direccion de envio</h5>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
      <%= link_to 'Cambiar direccion', shopping_addresses_path, :class => 'radius button ', :style => 'float:right; margin:10px 0 10px 20px;' %>
    </div>
    <div class='six columns'>
      <h5>Direccion de facturacion</h5>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} %>
    </div>
    </div>
  </div>
  <div class='pretty_table span-10 last'>
    <table>
      <thead>
        <tr class='odd'>
          <th class='column1_header'>
            Articulo <span class='ss_sprite ss_application_cascade'></span>

          </th><th>Precio</th><th>Precio + IVA</th>
        </tr>
      </thead>
      <% @order.order_items.each do |item| %>
        <tr class='<%= cycle("odd", "")%> '>
          <td><%= item.variant.product.name %></td><td><%= number_to_currency item.price %></td><td><%= number_to_currency item.total %></td>
        </tr>
      <% end %>
      <tr class='odd'>
        <td></td><td>Sub-total:</td><td><%= number_to_currency @order.sub_total %></td>
      </tr>
      <tr>
        <td></td><td>Costos de envio:</td><td><%= number_to_currency @order.shipping_charges %></td>
      </tr>
      <% if @order.coupon_amount > 0.0 %>
        <tr>
          <td></td><td>Coupon:</td><td><%= number_to_currency @order.coupon_amount %></td>
        </tr>
      <% end %>
      <% if @order.deal_amount && @order.deal_amount > 0.0 %>
        <tr>
          <td></td><td>Promotion:</td><td><%= number_to_currency @order.deal_amount %></td><td></td>
        </tr>
      <% end %>
      <tfoot>
        <tr class='even'>
          <td></td><td>Total:</td><td><em><%= number_to_currency @order.total %></em></td>
        </tr>
      </tfoot>
    </table>
    <div>
  </div>
<!--    <%= form_tag( shopping_order_path(@order),
                                  :method => :put,
                                  #:as   => :order,
                                  :id   => 'purchase_order') do  %> -->



<!--?php
$llave_encripcion = "1111111111111111"; //llave de encripción que se usa para generar la fima
$usuarioId = "2"; //código único del cliente
$refVenta = time(); //referencia que debe ser única para cada transacción
$iva=36000; //impuestos calculados de la transacción
$baseDevolucionIva=300000; //el precio sin iva de los productos que tienen iva
$valor=486000; //el valor total
$moneda ="COP"; //la moneda con la que se realiza la compra
$prueba = "1"; //variable para poder utilizar tarjetas de crédito de prueba
$descripcion = "Pruebas de Generacion de Firmas"; //descripción de la transacción
$url_respuesta = "http://ayuda.pagosonline.com/pruebas/respuesta.php";
$emailComprador="info@mail.com"; //email al que llega confirmación del estado final de la transacción, forma de identificar al comprador
$firma_cadena = "$llave_encripcion~$usuarioId~$refVenta~$valor~$moneda"; //concatenación para realizar la firma
$firma = md5($firma_cadena); //creación de la firma con la cadena previamente hecha
?>
Como podemos ver el siguiente botón apunta a nuestro servidor de pruebas.<br />-->

<%= form_tag('https://gateway2.pagosonline.net/apps/gateway/index.html') %>
<!--<form method="post" action="https://gateway2.pagosonline.net/apps/gateway/index.html" target="_self">-->
<%= hidden_field_tag 'usuarioId', ''%>
<!--<input name="usuarioId" type="hidden" value="<?php echo $usuarioId?>">-->
<%= hidden_field_tag 'descripcion', ''%>
<!--<input name="descripcion" type="hidden" value="<?php echo $descripcion ?>" >-->
<%= hidden_field_tag 'extra1', ''%>
<!--<input name="extra1" type="hidden" value="<?php echo $descripcion ?>" >-->
<%= hidden_field_tag 'refVenta', ''%>
<!--<input name="refVenta" type="hidden" value="<?php echo $refVenta ?>">-->
<%= hidden_field_tag 'valor', ''%>
<!--<input name="valor" type="hidden" value="<?php echo $valor ?>">-->
<%= hidden_field_tag 'iva', ''%>
<!--<input name="iva" type="hidden" value="<?php echo $iva ?>">-->
<%= hidden_field_tag 'baseDevolucionIva', ''%>
<!--<input name="baseDevolucionIva" type="hidden" value="<?php echo $baseDevolucionIva ?>" ><%= hidden_field_tag '', ''%>-->
<%= hidden_field_tag 'firma', ''%>
<!--<input name="firma" type="hidden" value="<?php echo $firma?>">-->
<%= hidden_field_tag 'emailComprador', ''%>
<!--<input name="emailComprador" type="hidden" value="<?php echo $emailComprador?>">-->
<%= hidden_field_tag 'prueba', ''%>
<!--<input name="prueba" type="hidden" value="1">-->
<%= hidden_field_tag 'url_respuesta', ''%>
<!--<input name="url_respuesta" type="hidden" value="<?php echo $url_respuesta?>">
<input name="Submit" type="submit" value="Prueba de pago">
</form>

<br />
<br />

Una vez esté satisfechos con todas las pruebas que necesite puede apuntar al servidor de producción eliminando la siguiente línea <s><<strong>form</strong> method="post" action="https://gateway2.pagosonline.net/apps/gateway/index.html" target="_self"></s> Y remplazarla por <<strong>form</strong> method="post" action="https://gateway.pagosonline.net/apps/gateway/index.html" target="_self">

<br />
<br />

Finalmente debe eliminar la variable de prueba <s><<strong>input</strong> name="prueba" type="hidden" value="1"></s>-->











 <!--     <%# text_field(object_name, method, options = {}) %>



      <div class="field column">
        <%= label_tag  :name %>
      </div>
<div class='clear'></div>
      <div class="field column">
        <%= label_tag 'First' %>
         <%= text_field_tag(:first_name, @credit_card.first_name ,:class => 'span-3') %>
      </div>

      <div class="field column">
        <%= label_tag :last_name, 'Last' %>
         <%= text_field_tag(:last_name, @credit_card.last_name,:class => 'span-3') %>
      </div>

      <div class='clear'></div>
      <div class="field column float-left clear-fix">
        <%= label_tag 'Number'%>
         <%= text_field_tag(:number, @credit_card.number ,:class => 'span-4 disableAutoComplete', :autocomplete => "off") %>
      </div>

      <div class="field column float-left">
        <%= label_tag :verification_value, 'VCC'%>
         <%= text_field_tag(:verification_value, @credit_card.verification_value ,:class => 'span-1 disableAutoComplete', :autocomplete => "off") %>
      </div>

      <div class='clear'></div>
      <div class="field column float-left ">
        <%= label_tag :type, 'Type'%>
         <%= select_tag(:type, options_for_select(['visa', 'mastercard'])) %>
      </div>

      <div class="field column float-left">
        <%= label_tag :month %>
        <%= select_tag(:month, options_for_select(['01', '02',  '03', '04', '05', '06', '07', '08', '09', '10', '11', '12' ])) %>
      </div>

      <div class="field column float-left">
        <%= label_tag :year %>
         <%= select_tag(:year, options_for_select((Time.zone.now.year..(Time.zone.now.year + 10)))) %>
      </div>
      <div class='clear'></div> -->
  		<!--<a href="http://www.pagosonline.com/logos/pol.php?l=25&c=95737" target="_blank"><img src="http://www.pagosonline.com/logos/logo.php?l=25&c=95737" style="float: right; margin-right: 25px; margin-bottom: 20px;" alt="pagosonline, el pago seguro en internet" width="300" height="100" border="0" /></a>-->

   <%= image_submit_tag("http://www.pagosonline.com/logos/logo.php?l=25&c=95737", :style => "float: right; margin-right: 25px; margin-bottom: 20px;")  %>
    <% end %>
  </div>
</div>

