
<% content_for :head do -%>
  <%#= javascript_include_tag 'admin/merchandise_product' %>
<% end %>


<% content_for :below_body do -%>
  <script>
    //Hadean.AdminMerchandiseProductForm.initialize(<%= @variant.id %>);
  </script>
<% end %>

  <%= error_messages_for 'variant' %>

<fieldset id="admin-product-names" class='span-12'>
<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :sku %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :sku %>
  </div>

<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :price, 'Precio' %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :price %>
  </div>
<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :cost, 'Costo' %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :cost %>
  </div>

<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :master %>
  </div>
  <div class='span-6 last'>
    <%= form.check_box :master %>
  </div>

<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :brand_id, 'Marca' %>
  </div>
  <div class='span-6 last'>
    <%= form.select :brand_id, @brands, { :include_blank => true } %>
  </div>
</fieldset>

<fieldset id="admin-product-properties" class='span-12'>
  <legend>Propiedades</legend>

  <div id="variant_properties" class='span-12 last'>
    <% @product.properties.each do |property| %>
      <div  id='variant_<%= property.id %>'
            class="variant_form left span-12 last">
        <%= form.fields_for :variant_properties,
                            property.variant_properties.find_or_initialize_by_variant_id(@variant.id) do |variant_property_form|%>
          <div class="row">
          <div class="inline left">
            <strong>* <%= property.display_name %></strong>
          </div>
          <div class="inline right"> Primary <%= variant_property_form.check_box  :primary %></div>
          </div> 
          <%= variant_property_form.hidden_field  :property_id %>
          <label>Descripcion:</label> 
          <%= variant_property_form.text_field    :description %>
        <% end %>
      </div>
    <% end %>
  </div>

</fieldset>
