<%= render :partial => '/admin/merchandise/sub_header'%>

<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>

<% content_for :sidemenu do %>
  <div class='admin_filters'>
    <%= form_tag admin_merchandise_product_variants_path(@product), :method => 'get', :id => "variants_search" do %>
      <p>
        <ul class=' search_boxes'>
          <!--
          <li><%= label_tag 'product_name' %> <%= text_field_tag :product_name, params[:product_name] %></li>
          -->
          <li><%= label_tag 'sku' %> <%= text_field_tag :sku, params[:sku] %></li>
          <!--
          <li><%= label_tag 'price' %> <%= text_field_tag :price, params[:price] %></li>
          -->
        </ul>
        <div style='text-align:center'>
          <%= submit_tag "Search", :name => nil, :class => 'button red-button' %>
        </div>
      </p>
      <div id="order_hidden">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      </div>
    <% end %>
    <div class='clearfix'></div>
  </div>
<% end %>

<h3>Variantes de: <%= @product.name %> </h3>

<div id="admin_variants_page_wrapper">
  <div id="admin_variants_grid_wrapper" class='pretty_table'>


      <table>
        <thead>
        <tr>
              <th><%= "Nombre del producto" %></th>
                  <th><%= sortable "sku" %></th>
                   <th><%= "Precio" %></th>
        </tr>
        </thead>
        <% @variants.each do |variant| %>
          <tr>
            <td><%= link_to variant.product_name, edit_admin_merchandise_product_variant_path(@product, variant) %></td>
            <td><%= variant.sku %></td>
            <td><%= variant.price %></td>
          </tr>
        <% end %>
      </table>

    <%= will_paginate @variants %>

  </div>

  <div id="admin_new_variant_button" class="admin_new_button last">
    <%= link_to "Nueva Variante", new_admin_merchandise_product_variant_path(@product),
                                :class  => "button",
                                :id     => "new_product_button" %>
  
    <%= link_to "Ver producto", admin_merchandise_product_path(@product),
                                :class  => "button",
                                :id     => "new_product_button" %>
  </div>

</div>
