<h1>Direcciones de <%= @order.user.name %></h1>
<p>Seleccione la direccion de envio o cree una nueva.</p>
<table>
  <tr class='odd'>
    <th class='column1_header'>Nombre</th>
    <th>Apellido</th>
    <th>Direccion</th>
    <th>Direccion2</th>
    <th>Ciudad</th>
    <th>Estado</th>
    <th>Codigo zip</th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr class='<%= cycle("odd", "")%>'>
    <td><%= address.first_name %></td>
    <td><%= address.last_name %></td>
    <td><%= address.address1 %></td>
    <td><%= address.address2 %></td>
    <td><%= address.city %></td>
    <td><%= address.state_id %></td>
    <td><%= address.zip_code %></td>
    <td>
      <%= button_to 'Select', admin_history_order_address_path(@order, address), :method => :put %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Direccion', new_admin_history_order_address_path(@order) %>
