<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @address.first_name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @address.last_name %>
</p>

<p>
  <b>Direccion:</b>
  <%= @address.address1 %>
</p>

<p>
  <b>Direccion2:</b>
  <%= @address.address2 %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @address.city %>
</p>

<p>
  <b>Estado:</b>
  <%= @address.state_id %>
</p>

<p>
  <b>Codigo zip:</b>
  <%= @address.zip_code %>
</p>


<%= link_to 'Editar', edit_admin_history_order_address_path(@order, @address) %> |
<%= link_to 'Volver', admin_history_order_addresses_path(@order) %>
