<% content_for :sidemenu do -%>
  <ul>
      <li><%= link_to 'Marca', admin_merchandise_wizards_brands_path %></li>
      <li><%= link_to 'Categorias', admin_merchandise_wizards_product_types_path %></li>
      <li><%= link_to 'Propiedades', admin_merchandise_wizards_properties_path %></li>
      <li><%= link_to 'Categorias de envio', admin_merchandise_wizards_shipping_categories_path %></li>
      <li><%= link_to 'Categoria de impuestos', admin_merchandise_wizards_tax_categories_path %></li>
      <li><%= link_to 'Producto', new_admin_merchandise_wizards_product_path unless next_wizard_form %></li>
  </ul>
<% end %>