<div class="panel">
  <h5>Seleccione un metodo de envio</h5>
</div>
 <%= form_tag(shopping_shipping_method_path(session_order.id), :method => :put) do -%>
    <% @order_items.group_by(&:shipping_category_id).each do |shipping_category_id, items| %>
      <div class='eight columns centered'>
      	 <h6>Resumen</h6>
      	 <% items.each do |item| %>
            <div class='span-11 <%= cycle("line_item_yellow", "line_item_gray") -%>'>
                <div class='span-6 '>
                  <%= image_tag(item.variant.product.featured_image(:mini)) %>
                  <%= item.variant.product.name %> Cantidad: <%= item.quantity %>
                </div>
            </div>
          <% end %>
          <h6>metodos disponibles:</h6>
          <ul style="list-style-type: none">
          <% items.first.shipping_rate_options(session_order.sub_total).each do |rate| %>
            <li><%= radio_button_tag "shipping_category[#{shipping_category_id}]", rate.id %> <%= rate.name_rate_min %></li>
          <% end %>
          </ul>
    <% end %>
    <%= submit_tag 'continuar', :class => 'radius button', :style => 'float:right;margin-bottom:20px;'%>
  <% end %>
</div>

