<div class="panel">
  <h5>Envio de productos</h5>
</div>
 <%= form_tag(shopping_shipping_method_path(session_order.id), :method => :put) do -%>
    <% @order_items.group_by(&:shipping_category_id).each do |shipping_category_id, items| %>
      <div class='eight columns centered'>
      	 <h6>Resumen</h6>
      	 <% items.each do |item| %>
            <div class='span-11 <%= cycle("line_item_yellow", "line_item_gray") -%>'>
                <div class='span-6 '>
                  <%= image_tag(item.variant.product.featured_image(:mini)) %>
                  <%= item.variant.product.name %> Cantidad: <%= item.quantity %>
                </div>
            </div>
          <% end %>
          <br /> <br />
          <%= hidden_field_tag "shipping_category[#{@inoxmethod.shipping_category_id}]", @inoxmethod.id %> 
          <p>El valor mínimo de compra es de $30.000. Envíos gratuitos a todo el país</p>
    <% end %>
    <%= submit_tag 'continuar', :class => 'radius button', :style => 'float:right;margin-bottom:20px;'%>
  <% end %>
</div>

