<%= render :partial => '/admin/merchandise/sub_header'%>

<div class='admin_title_header'>
  <h3>Categorias</h3>
  <%= link_to "Nueva categoria", new_admin_merchandise_product_type_path, :class => "button" %>
</div>

<div class="admin_product_types">
  <ul style="list-style-type: square;">
  <% product_types.roots.each do |pt_tab| %>
  	<li><%=link_to pt_tab.name, edit_admin_merchandise_product_type_path(pt_tab)%> -------- <%=link_to 'Borrar', admin_merchandise_product_type_path(pt_tab), confirm: 'Esta seguro?', method: :delete %></li>
    <% pt_tab.children.each do |ptchildren| %>
    	<li style="margin-left: 20px;"><%=link_to ptchildren.name, edit_admin_merchandise_product_type_path(ptchildren) %> --------  </li>
    	<% ptchildren.children.each do |ptsubchildren| %>
			<li style="margin-left: 40px"><%=link_to ptsubchildren.name, edit_admin_merchandise_product_type_path(ptsubchildren) %> </li>			
		<%end%>	
	<%end%>  				
  <% end %>
</ul>
</div>