<li class="brand"><%=  link_to site_name, :root %></li>

<li><%= link_to 'Historial', admin_history_orders_path %></li>
<li><%= link_to 'Ordenes', admin_shopping_carts_path %></li>
<li class="dropdown">
  <%= link_to 'Mercancia', admin_merchandise_products_path %>
  <a href="#" class="flyout-toggle"><span></span></a>
  <ul class="flyout">
    <li><%= link_to 'Productos', admin_merchandise_products_path %></li>
    <li><%= link_to 'Propiedades', admin_merchandise_properties_path %></li>
    <li><%= link_to 'Tipos de producto', admin_merchandise_product_types_path %></li>
    <li><%= link_to 'Prototipos', admin_merchandise_prototypes_path %></li>
    <li><%= link_to 'Marcas', admin_merchandise_brands_path %></li>
  </ul>
</li>
<li class="dropdown">
  <%= link_to "Inventario", admin_inventory_overviews_path %>
  <a href="#" class="flyout-toggle"><span></span></a>
  <ul class="flyout">
    <li><%= link_to 'Overviews', admin_inventory_overviews_path %></li>
    <li><%= link_to 'Proveedores', admin_inventory_suppliers_path %></li>
    <li><%= link_to 'Recibir', admin_inventory_receivings_path %></li>
    <li><%= link_to 'Ordenes de compra', admin_inventory_purchase_orders_path %></li>
    <li><%= link_to 'Ajustes', admin_inventory_adjustments_path %></li>
  </ul>
</li>
<li><%= link_to "Usuarios", admin_users_path %></li>
<li class="dropdown">
  <%= link_to "Configuracion", admin_config_accounts_path %>
  <a href="#" class="flyout-toggle"><span></span></a>
  <ul class="flyout">
    <li><%= link_to 'Cuentas',           admin_config_accounts_path %></li>
    <li><%= link_to 'Zonas de envio',     admin_config_shipping_zones_path %></li>
    <li><%= link_to 'Metodos de envio',   admin_config_shipping_methods_path %></li>
    <li><%= link_to 'Tarifas de envio',     admin_config_shipping_rates_path %></li>
    <li><%= link_to 'Tarifas de impuesto',          admin_config_tax_rates_path %></li>
    <li><%= link_to 'Categorias de impuestos',       admin_config_tax_categories_path %></li>
    <li><%= link_to 'Categorias de envio',  admin_config_shipping_categories_path %></li>
  </ul>
</li>
<li class="dropdown">
  <%= link_to "Cupones/Ofertas", admin_generic_coupons_path %>
  <a href="#" class="flyout-toggle"><span></span></a>
  <ul class="flyout">
    <li><%= link_to 'Cupones', admin_generic_coupons_path %></li>
    <li><%= link_to 'Ofertas', admin_generic_deals_path %></li>
  </ul>
</li>
<li class="dropdown">
  <%= link_to "Cumplimiento", admin_fulfillment_orders_path %>
  <a href="#" class="flyout-toggle"><span></span></a>
  <ul class="flyout">
    <li><%= link_to 'Facturas', admin_document_invoices_path %></li>
    <li><%= link_to 'Ordenes', admin_fulfillment_orders_path %></li>
    <li><%= link_to 'Cargamentos', admin_fulfillment_shipments_path %></li>
  </ul>
</li>
<!--<li class="has-flyout">
  <%= link_to "Help", admin_help_path %>
  <a href="#" class="flyout-toggle"><span></span></a>
  <ul class="flyout">
    <li><%= link_to 'Help', admin_help_path %></li>
  </ul>
</li>-->