<% content_for :head do -%>
  <%= stylesheet_link_tag 'product_page.css' %>
<% end %>
<% content_for :bottom do -%>
  <%= javascript_include_tag "shopping/cart" %>
<% end %>
<div id="containerrightcont">
<div class="eleven columns centered">
	<div class="panel"><h5>Detalles del producto</h5></div>
<div id='product'>

  <div class='span-1<%=@product.variants.empty? ? '9' : '8' %> float-left last'>
    <div class='imageproduct'>
    	<ul data-clearing>
       <li><%= link_to image_tag(@product.featured_image(:product)), @product.featured_image(:large) %></li><br/>
      </ul>
      
      <div class='addtocart'>
    <%= form_for  @cart_item, :as => :cart_item,
                  :url  => shopping_cart_items_path(@cart_item),
                  :html => { :id => 'new_cart_item' } do |f| %>
        <%= f.hidden_field :variant_id, :value => @product.variants.first.try(:id) %>
      <% unless @product.variants.empty? %>
          <%= f.label :quantity, 'Cantidad:' %>
          <%= f.select :quantity, CartItem::QUANTITIES %>

        <div class='submit_add_to_cart small radius button'>Agregar al carro</div>
      <% end %>
    <% end %>
  </div>
      
      
    </div>
    <% if @product.variants.empty? %>
      <h3><%= @product.name %> <span class="price">  <%= number_to_currency(@product.price_range.first, :precision => 0, :separator => ".") %>
        <% if @product.price_range? %>
            to <%= number_to_currency @product.price_range.last %>
        <% end %></span></h3>
      <div id='no-variant-available' class=' span-8  last'>
        Lo sentimos este producto no se encuentra disponible.
      </div>
    <% else %>
      <h3><%= @product.name %><span class="price"> <%= number_to_currency(@product.price_range.first, :precision => 0, :separator => ".") %>
        <% if @product.price_range? %>
            to <%= number_to_currency @product.price_range.last %>
        <% end %></span> </h3>
      <div id='all-variants' class='dkBlueBox span-8'>
        <div  class='innerBox'>
          <% @product.variants.each_with_index do |variant, i| %>
            <ul>               
              Unidades disponibles: <%= variant.quantity_available %>
            </ul>
          <% end %>
        </div>
      </div>
    * si la cantidad es superior a 10 unidades, puede modificar la cantidad desde menú / mi pedido  
    <% end %>
    <hr/>
      <div id='product_description' class='left-text-4'>
        <%= raw @product.description %>
      </div>
  </div>
  
</div>
</div>
</div>
<div id="containerleftcont">
	<%= render 'shared/main_product_tabs' %>
</div>


<% content_for :below_body do -%>
  <script>
    Hadean.Utility.registerOnLoadHandler(Hadean.Cart.NewForm.initialize());
  </script>
<% end %>
