<% content_for :head do -%>
    <%= stylesheet_link_tag "login.css.scss" %>
<% end %>
<div class="panel">
  <h5>Ingresar</h5>
</div>
<div id="loginform">
<div id='login' class='six columns centered'>
	<%= form_for  @user_session, :as => :user_session,
                  :url => user_sessions_path(@user_session),
                  do |form| %>
      <fieldset>
          <%=form.label :email, 'Email' %>
          <%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off' %>
          <%=form.label :password, 'Contraseña' %>
          <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off' %>
      	  <%= link_to 'Olvido la contraseña?', new_customer_password_reset_path() %> - <%= link_to 'Registrese', signup_path %>
       	  <%= form.submit "Entrar", :class => 'small button' %>                
      </fieldset>    
    <% end %>
</div>
</div>
