<% if @shopping_address.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shopping_address.errors.count, "error") %> prohibited this shopping_address from being saved:</h2>

    <ul>
    <% @shopping_address.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class='six columns centered'>
     <%= f.label :first_name, 'Nombre' %>
     <%= f.text_field :first_name, :class => 'span-3' %>
     <%= f.label :last_name, 'Apellido' %>
     <%= f.text_field :last_name, :class => 'span-3' %>
     <%= f.label :address1, 'Direccion' %>
     <%= f.text_field :address1 %><br/>
     <%= f.label :address2, 'linea 2' %>
     <%= f.text_field :address2 %>
     <% if Settings.require_state_in_address %>
     	 <%= f.label    :state_id, "Departamento" %>
       <%= f.select   :state_id, @states,
                      :include_blank => true %>
     <% elsif countries.size == 1 %>
       <%= f.hidden_field   :country_id %>
     <% else %>
       <%= f.label    :country_id, "Pais" %>
       <%= f.select   :country_id, select_countries,
                      :include_blank => true %>
     <% end %>
     <%= f.label :city, 'Ciudad' %>
     <%= f.text_field :city, :class => 'span-3' %>
     <!--<%= f.label :zip_code, 'Codigo postal' %>-->
     <%= f.hidden_field :zip_code, :value => 000000 %>
     <% if nil %>
       <%= f.label :state_name %>
       <%= f.text_field :state_name, :class => 'span-3' %>
     <% end %>
     <%= check_box_tag :default, 1, f.object.default? %>
     <%= f.label :default, "Hacer de este el metodo de envio principal", :class => 'auto_width' %>
     <div class="actions prepend-1">
    	 <%= submit_tag 'Crear direccion', :class => 'button ar-red-small-button' %>
     </div>
</div>
