<% if  @shopping_addresses.empty? %>
<div class="panel">
  <h5>Nueva direccion</h5>
</div>
<% else %>
<div class="panel">
  <h5>Seleccione una direccion</h5>
</div>
<% end %>

<div id='shopping_addresses_selections' class='span-24 last'>
  <% @shopping_addresses.each do |shopping_address| %>
    <div class='four columns' style="border-style:solid; border-color:#CCCCCC; border-width: 1px; margin-bottom: 10px;">
      <br />
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => shopping_address} %>
      <br />
      <%= button_to 'Usar', select_address_shopping_address_path(shopping_address), :class => 'small radius button', :method => :put %>
      <%= link_to 'Editar', edit_shopping_address_path(shopping_address) %>
      <%= link_to 'Borrar', shopping_address_path(shopping_address), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
    	<br />
    </div>
    <hr style='color:#aac'/>
  <% end %>
  <% if session_order.ready_to_checkout? %>
    <%= link_to 'Order Summary', shopping_orders_path, :class => 'button green' %>
  <% end %>
</div>
  <h5>cree una nueva direccion</h5>
<br />
<%= form_for @shopping_address, :url => shopping_addresses_path do |address_form| %>
  <%= render :partial =>  'form', :locals => {:f => address_form}  %>
<% end %>
