<% if @user.errors.any? %>
  <div id="error_explanation">
    <h6><%= pluralize(@user.errors.count, "error") %> No fue posible restablecer la contrase単a:</h6>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div>
    Por favor ingrese la nueva contrase単a.
  </div>

  <div class="field">
    <%= f.label :password, "Contrase単a" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contrase単a" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
