<div class="twelve columns centered">
<div class="panel"><h5><%= current_user.name %></h5></div>
<div class='six columns'>
	<h5> Perfil: </h5>
  <ul id='profile_details' style="list-style-type: none" >
    <li>
      <label>Fecha de nacimiento:</label>
      <%= current_user.birth_date %>
    </li>
    <li>
      <label>Email:</label>
      <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Editar", edit_myaccount_overview_path() %>
    </li>
  </ul>
</div>
<div class='six columns'>
  <div>
    <h5>Direccion:</h5>
    <% if current_user.shipping_address %>
      <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => current_user.shipping_address } %>
      <br />
      <%= link_to "Editar", edit_myaccount_address_path(current_user.shipping_address) %>
    <% else %>
      No hay direcciones guaradas.<br/>
      <%= link_to "Nueva", new_myaccount_address_path() %>
    <% end %>
  </div>
</div>
</div>
