<h3>Paginas Estaticas</h3>

<% content_for :sidemenu do %>
  <div style="text-align:center">
    <%= link_to "Nueva pagina", new_admin_staticpage_path, :class => "radius button", :method => 'get' %>
   </div>
<% end %>   
   <table>
    <thead>
    <tr class='odd'>
        <th class='column1_header'><%= "Nombre" %></th>
    </tr>
    </thead>
    <% @pages.each do |page| %>
      <tr class='<%= cycle("odd", "")%>'>
        <td><%= link_to page.name, edit_admin_staticpage_path(page) %></td>
        <td><%= link_to "borrar",  admin_staticpage_path(page), confirm: 'Esta seguro?', method: :delete %></td>
      </tr>
    <% end %>
  </table>

     
